<div class="top_buttons">
    <div class="left_align">
        <button class="btn btn-info width70">Sort</button>
    </div>
    <div class="right_align">
        <input class="form-control" placeholder="Search">
    </div>
</div>
 
<div class="chat_boxes" *ngFor="let chat of allChats">
    <!-- <div class="chats_new" [routerLink]="['/chats/new']">
        <h1>+</h1>
    </div> -->
    <div class="chats" [routerLink]="['/chats', chat._id]">
        <p>{{ chat.name }}</p>
        <h4 class="active_time">4 Hours</h4>
        <h4 class="member_count">3 Members</h4>
    </div>
    <!-- <div class="chats" [routerLink]="['/chats', 'conversation']">
        <h4 class="active_time">32 Minutes</h4>
        <h4 class="member_count">7 Members</h4>
    </div>
    <div class="chats" [routerLink]="['/chats', 'conversation']">
        <h4 class="active_time">1 Minute</h4>
        <h4 class="member_count">2 Members</h4>
    </div>
    <div class="chats" [routerLink]="['/chats', 'conversation']">
        <h4 class="active_time">1 Day</h4>
        <h4 class="member_count">55 Members</h4>
    </div> -->
</div>